.messagePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
}

.form {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  flex-grow: 1;

  & input {
    display: flex;
    flex-grow: 1;
    min-height: 70px;
    padding: 10px;

    color: #F1F2F2;
    box-shadow: 2px 2px 8px 0px rgba(241, 242, 242, 0.2);

    &::placeholder {
      font-weight: 500;
      color: #414042;

      user-select: none;
    }

    &:focus {
      box-shadow: 2px 2px 8px 0px rgba(241, 242, 242, 0.4);
    }
  }

  & button {
    width: 100px;
    height: 30px;
    font-weight: 500;
    color: #F1F2F2;
    user-select: none;
    transition: color 0.2s ease, background-color 0.2s ease;

    &:hover {
      color: #231F20;
      background-color: #F1F2F2;
    }

    &:focus {
      font-weight: 600;
    }
  }
}

.message {
  background-color: #414042;
  padding: 10px;
  &Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 230px;
    row-gap: 30px;
    margin-top: 30px;
    flex-wrap: wrap;
  }
}